    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    body {
        background-image: linear-gradient(to right, #011631, #060214);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contaner {
        background-image: linear-gradient(to right, rgba(24, 6, 189, 0.281)30%, rgba(19, 27, 61, 0.336)), url(1.jpg);
        width: 85%;
        height: 640px;
    }
    
    .contaner:hover {
        background-image: linear-gradient(to right, rgba(24, 6, 189, 0.281)20%, transparent), url(1.jpg );
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    
    .logo {
        font-size: 30px;
        text-transform: uppercase;
    }
    
    ul {
        width: 60%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    
    ul a {
        border-bottom: 2px solid transparent;
    }
    
    ul a:hover {
        border-bottom-color: #fff;
    }
    
    .content {
        color: #fff;
        width: 50%;
        margin-top: 50px;
        padding: 30px;
    }
    
    .content h2 {
        font-size: 100px;
        text-transform: uppercase;
    }
    
    .content p {
        letter-spacing: 3px;
        width: 350px;
        padding: 20px 0px;
    }
    
    .content button {
        font-size: 30px;
        padding: 6px 10px;
        border-radius: 10px;
        border: 2px solid transparent;
        cursor: pointer;
    }
    
    .content button:hover {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
    }